<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charmai.miniapp.mapper.UploadHistoryMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.charmai.miniapp.entity.UploadHistoryEntity" id="albumUploadMap">
        <result property="photoId" column="photo_id"/>
        <result property="userId" column="user_id"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="photoWidth" column="photo_width"/>
        <result property="photoHeight" column="photo_height"/>
        <result property="delFlag" column="del_flag"/>
        <result property="creatTime" column="creat_time"/>
    </resultMap>

    <insert id="saveUpload">
        insert into album_upload (user_id,photo_url,photo_width,photo_height,del_flag,creat_time) values (#{user_id},#{photo_url},#{photo_width},#{photo_height},1,#{date})
    </insert>
    <select id="getUploadHistory" resultType="String">
        select photo_url from album_upload where user_id = #{user_id}  and del_flag=1
    </select>
    <select id="getUploadHistoryWithHeight" resultType="com.charmai.miniapp.entity.UploadHistoryEntity">
        select photo_id, user_id, photo_url, photo_width, photo_height,del_flag,creat_time from album_upload where user_id = #{user_id} and del_flag=1
    </select>
</mapper>