<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应哪个mapper文件 -->
<mapper namespace="com.charmai.oss.client.mapper.SearchPicMapper">
    <select id="searchPic" resultType="com.charmai.oss.client.entity.UserImage">
        select * from charmai where oss_id = ${userId};
    </select>
</mapper>